.c-accordion {
	margin-bottom: 70px;

	.c-accordion__title {
		background: $red;
		color: #FFF;
		cursor: pointer;
		font-family: $font-bright;
		padding: 17px 20px; 
		position: relative;
		margin-top: 15px;
		transition: background 0.2s ease-out;

		&:after {
			content: ' ›';
			display: inline-block;
			margin-left: 10px;
			transition: transform 0.2s ease-out, margin-top 0.2s ease-out;
			position: absolute;
			right: 20px;
			top: 50%;
			margin-top: -12px;
		}

		// Big arrow style
		// &:after {
		// 	display: none;
		// 	content: '';
		// 	border-style: solid;
		// 	border-width: 11px 7px 0 7px;
		// 	border-color: #FFF transparent transparent transparent;
		// 	position: absolute;
		// 	right: 20px;
		// 	top: 50%;
		// 	margin-top: -6px;
		// 	height: 0;
		// 	width: 0;
		// 	transition: transform 0.4s ease-out;
		// }

		&:hover {
			background: darken( $red, 6% );
		}

		&.open {
			&:after {
				margin-top: -10px;
				transform: rotate(90deg)
			}
		}
	}

	.c-accordion__content {
		display: none;
		box-shadow: 0 0 30px 0 rgba(0,0,0,0.10);
		padding-bottom: 1px; // fixes jumpy issue with slideToggle

		.c-accordion__content-wrapper {
			padding: 20px 20px 20px 20px;

			p:last-child {
				margin-bottom: 0;
			}
		}
	}
}


@media #{$media-mobile-large} {
	.c-accordion {
		.c-accordion__title {
			font-size: px-to-rem(14);
		}
	}
}