.c-image-text {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
	margin-bottom: 90px;

	&.left {
		.c-image-text__images {
			transform: translate(-50px, 0);
		}

		.secondary-image {
			float: right;
			transform: translate(30px, 0);
		}

		.c-image-text__content {
			padding-left: 30px; // 80px - 50
		}
	}

	&.right {
		.c-image-text__images {
			transform: translate(50px, 0);
			order: 2;
		}

		.c-image-text__content {
			order: 1;
			padding-right: 30px;
		}

		.secondary-image {
			float: left;
			transform: translate(-30px, 0);
		}
		
	}

	.c-image-text__wrapper {
		display: flex;
	}

	.c-image-text__images {
		width: 65%;
		min-width: 300px;
		max-width: 460px;
	}
	
	.primary-image {
		img {
			width: 100%;
		}
	}

	.secondary-image {
		position: relative;
		margin-top: -30%;
		max-width: 335px;
		width: 75%;
	}

	.c-image-text__content {		
		padding-top: 20px;
		width: 100%;
	}

	.c-stat__wrapper {
		display: table;
		width: 100%;

		.c-stat__icon, .c-stat__content {
			display: table-cell;
			vertical-align: top;
		}

		.c-stat__icon {
			padding-top: 8px;
			width: 40px;

			svg {
				height: 40px;
				max-width: 40px;
			}
		}

		.c-stat__content {
			padding-left: 30px;
		}

		.c-stat__value {
			color: $red;
			font-family: $font-bright;
			font-size: px-to-rem(36);
			font-weight: 700;
			line-height: px-to-rem(48);
		}

		.c-stat__text {

		}
	}

	.c-image-text__quicklinks {
		margin: 0;
		padding-left: 0;

		li {
			padding-left: 0;
			margin-top: 11px;

			&:before {
				display: none;
			}
		}
	}
}

@media #{$media-tablet-landscape} {
	.c-image-text {
		.secondary-image {
			margin-top: -20%;
		}
	}
}

// Put images and content onto their own rows and put images along side each other
@media #{$media-tablet-middle} {
	.c-image-text {
		.c-image-text__wrapper {
			display: block;	
		}

		.c-image-text__images {
			margin-bottom: 50px;
			position: relative;
			width: 100%;
			min-width: 0;
			max-width: none;
		}

		.primary-image {
			max-width: 690px; // 3/4 full size
			width: 80%;
		}


		&.left, &.right {
			.secondary-image {
				float: none;
				transform: translate(0, 30px);
			}

			.c-image-text__images {
				transform: none;
			}

			.c-image-text__content {
				padding-left: 0;
				padding-right: 0;
			}
		}

		.secondary-image {
			position: absolute;
			bottom: 0;
			float: none;
			right: 0;
			margin-top: 0;
			max-width: none;
			width: 45%;
		}

		.c-image-text__content {
			padding-left: 0;
		}
	}
}

// Hide second image and make primary full width
@media #{$media-mobile-large} {
	.c-image-text {
		background-position: bottom center;

		.c-image-text__images {
			margin: 0 calc(50% - 50vw);
			margin-bottom: 20px;
			max-width: none;
			width: auto;
		}

		.primary-image {
			max-width: none;
			width: 100%;
		}

		.secondary-image {
			display: none;
		}
	}
}