.c-link-grid {
	margin-bottom: 50px;

	.c-link-grid__item {
		text-align: left;
		margin-bottom: 20px;
	} 

	.c-link-grid__link {
		display: block;
	}

	.c-link-grid__text {
		max-width: 210px;
	}
}

@media #{$media-mobile-large} {
	.c-link-grid {
		.c-link-grid__text {
			max-width: none;
		}
	}	
}