.c-stats {
	&:first-child {
		position: relative;
		margin-top: -130px; // 80px + 50px
		z-index: 15;

		&:before {
			content: '';
			background-image: url(../images/pattern2x.png);
			background-size: 28px;
			transform: translate(0, -50px);
			position: absolute;
			bottom: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
	}
}

.c-stats__wrapper {
	position: relative;
	z-index: 10;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 50px;
	text-align: center;

	.c-stat {
		padding: 50px 10px 40px 10px;
		width: 20%;

		svg {
			margin: 0 auto;
			height: 38px;
			width: 38px;
		}

		&:nth-child(odd) {
			background: $red;
			background-image: $red-gradient;
			color: #FFF;

			svg {
				fill: #FFF;
			}
		}

		&:nth-child(even) {
			background: #F8F7F8;
			background-image: $white-gradient;
			color: $red;

			svg {
				fill: $red;
			}
		}
	}

	.c-stat__icon {
		margin: 0 auto;
		margin-bottom: 15px;
		position: relative;
		height: 75px;
		width: 75px;

		&:before {
			content: '';
			background-image: url('../images/bubble.png');
			background-size: 100%;
			display: block;
			position: relative;
			height: 75px;
			width: 75px;
			z-index: 2;
		}

		.c-stat__icon-wrapper {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}

		svg {
			position: absolute;;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
		}
	}

	.c-stat__value {
		font-family: $font-bright;
		font-size: px-to-rem(32);
		font-weight: 700;
	}
}

// Make 3 column
@media #{$media-tablet-middle} {
	.c-stats {
		.c-stat {
			width: 33.33%;
		}
	}
}

// Break it out of container, into full width and make 2 column
@media #{$media-mobile-large} {
	.c-stats {
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);

		.c-stat {
			// allow any orphaned stats to take up a whole line
			flex-grow: 1;
			width: 50%;

			// Reset
			&:nth-child(odd), &:nth-child(even) {
				background: #F8F7F8;
				background-image: $white-gradient;
				color: $red;

				svg {
					fill: $red;
				}
			}

			&:first-child, &:nth-child(4n), &:nth-child(5n) {
				background: $red;
				background-image: $red-gradient;
				color: #FFF;

				svg {
					fill: #FFF;
				}
			}
		}
	}
}