.c-title {
	border-bottom: 1px solid $border-colour;
	font-size: px-to-rem(12);
	font-weight: 700;
	letter-spacing: px-to-rem(2);
	line-height: normal;
	padding-bottom: 17px;
	margin-bottom: 50px;
	position: relative;
	text-transform: uppercase;

	&:after {
		content: '';
		background: $red;
		position: absolute;
		left: 0;
		bottom: -1px;
		height: 1px;
		width: 70px;
	}
}

@media #{$media-mobile-large} {
	.c-title {	
		margin-bottom: 25px;
	}
}