.c-member-header {
	.c-two-column-header__content, .c-two-column-header__image {
		vertical-align: top;
	}

	.c-two-column-header__wrapper {
		padding-bottom: 60px;
	}

	.member-logo {
		max-height: 200px;
		max-width: 450px;

		&.thumb {
			padding: 10px;
			width: 120px;
		}
	}

	// White box
	.c-member-header__information {
		padding: 40px 50px;
		transform: translate(0, -40px);

		p {
			margin-bottom: 20px;
		}

		.social {
			margin-top: 25px;

			a {
				display: inline-block;
				margin-right: 15px;
			}

			svg {
				fill: $red;
			}
		}
	}
}

@media #{$media-mobile-large} {
	.c-member-header {
		.c-two-column-header__wrapper, .c-two-column-header__image {
			padding-bottom: 0;
		}

		.c-member-header__information {
			padding: 30px;
		}
	}
}