.c-two-column-header {
	.c-two-column-header__wrapper {
		display: table;
		padding: 20px 0 50px 0;
		width: 100%;
	}

	.c-two-column-header__content, .c-two-column-header__image {
		display: table-cell;
		vertical-align: middle;
	}

	.c-two-column-header__content {
		padding-right: 40px;
		position: relative;
		z-index: 2;
	}

	.c-two-column-header__text {
		h1 {
			margin-bottom: 10px;
		}

		p {
			font-family: $font-bright;
			font-size: px-to-rem(18);
			line-height: px-to-rem(28);
		}

		.social {
			margin-top: 25px;

			a {
				display: inline-block;
				margin-right: 15px;
			}

			svg {
				fill: $red;
			}
		}
	}

	.c-two-column-header__image {
		position: relative;
		width: 500px;
		z-index: 1;

		&:before {
			content: '';
			background-image: url('../images/pattern2x.png');
			background-size: 28px;
			position: absolute;
			top: 12.5%;
			left: 0;
			transform: translate(-18%, 0);
			height: 75%;
			width: 200%;
		}

		.c-two-column-header__image-wrapper {
			transform: translate(50px, 0);
		}

		img {
			position: relative;
			width: 100%;
		}

		// Globes on the market page have shadows
		.shadow {
			background: radial-gradient(ellipse closest-side, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
			position: absolute;
			left: 50%;
			top: 100%;
			transform: translate(-50%, 60%);
			height: 6.4%;
			width: 60%;
			margin-left: 50px;
		}
	}

	.c-hero-header__contact {
		width: 50%;
	}
}

@media #{$media-desktop} {
	.c-two-column-header {
		.c-two-column-header__image {
			width: 45%;

			.c-two-column-header__image-wrapper {
				transform: none;
			}

			// Globes on the market page have shadows
			.shadow {
				margin-left: 0;
			}
		}
	}
}

@media #{$media-mobile-large} {
	.c-two-column-header {
		.c-two-column-header__wrapper {
			display: block;
			padding: 20px 0 20px 0;
		}

		.c-two-column-header__content, .c-two-column-header__image {
			display: block;
		}

		.c-two-column-header__content {
			margin-bottom: 40px;
		}

		.c-two-column-header__image {
			padding: 40px 0;
			margin: 0 calc(50% - 50vw);
			width: auto;
			min-width: 100%;

			.u-caption {
				text-align: center;
				padding: 0 20px;
			}

			&:before {
				transform: none;
				top: 0;
				height: 50%;
				width: 100%;
			}

			img {
				margin: 0 auto;
				transform: none;
				width: 70%;
			}

			.shadow {
				transform: translate(-50%, -100%);
			}
		}
	}
}