.c-cookie-notice {
	background: #000;
	display: block;
	padding: 15px 50px 15px 50px;
	position: fixed;
	bottom: 0;
	left: 0;
	transform: translate(0, -100%);
	transition: transform 0.5s ease-out;
	width: 100%;
	z-index: 30;

	.alert {
		display: inline-block;
		margin-top: 4px;
		margin-right: 10px;
		position: absolute;
		top: 15px;
		left: 25px;
		vertical-align: top;
	}

	p, a {
		color: #FFF;
	}

	p {
		display: inline-block;
		font-size: 12px;
		line-height: 18px;
		max-width: 780px;
		margin-bottom: 0;
	}

	a {
		text-decoration: underline;
	}

	.c-cookie-notice__close {
		
	}

	.close {
		cursor: pointer;
		position: absolute;
		top: 15px;
		right: 25px;
		fill: #FFF;
		height: 18px;
		width: 18px;
	}
}