.c-footer-banner {
	background: $red;
	color: #FFF;
	padding: 60px 0;
	
	.c-footer-banner__wrapper {
		display: table;
		width: 100%;
	}

	.c-footer-banner__text, .c-footer-banner__link {
		display: table-cell;
		vertical-align: middle;
	}

	.c-footer-banner__text {
		margin-bottom: 0;
	}

	.c-footer-banner__link {
		text-align: right;
		width: 200px;

		.c-button {
			margin: 0;
		}
	}
}

.site-footer {
	background: $medium-grey;
	padding: 45px 0;

	.site-footer__wrapper {
		display: table;
		width: 100%;
	}

	.site-footer__social, .site-footer__legal {
		display: table-cell;
		vertical-align: middle;
	}

	.site-footer__social {
		width: 280px;

		a {
			display: inline-block;
			margin-left: 13px;
			text-decoration: none;
			vertical-align: middle;

			&:first-child {
				margin-left: 0;
				margin-right: 30px;
			}
		}

		svg {
			display: inline-block;
			fill: $red;
		}
	}

	.site-footer__legal {
		text-align: right;
	}

	ul {
		list-style: none;

		li {
			display: inline-block;
			border-left: 1px solid $dark-grey;
			font-size: 10px;
			padding: 0 9px;

			&:first-child {
				border-left: 0;
			}

			a {
				color: #000;
				text-decoration: none;

				&:hover {
					color: $red;
				}
			}
		}
	}
}

@media #{$media-tablet-portrait} {
	.site-footer {
		padding: 30px 0 0 0;

		.site-footer__wrapper {
			display: block;

			.site-footer__social, .site-footer__legal {
				display: block;
				text-align: center;
				width: 100%;
			}

			.site-footer__social {
				margin-bottom: 30px;

				a {
					&:first-child {
						display: block;
						width: 65px;
						margin: 0 auto;
						margin-bottom: 20px;
					}
				}
			}

			.site-footer__legal {
				background: #FFF;
				margin: 0 calc(50% - 50vw);
				padding: 20px 0 40px 0;
				width: auto; // allow > 100% width
			}
		}
	}
}