.c-tabs {
	background: $medium-grey;

	.c-tabs__tab {
		background: #DEDDDC;
		color: $red;
		cursor: pointer;
		display: inline-block;
		font-family: $font-bright;
		padding: 21px 18px;
		position: relative;

		&:before {
			content: '';
			background: $red;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			transform: scaleX(0);
			transform-origin: 0 50%;
			transition: transform 0.3s ease-out;
			z-index: 0;
		}

		&.active {
			color: #FFF;
			transition-delay: 0.3s;

			&:before {
				transition-delay: 0.3s;
				transform: scaleX(1);
			}
		}

		.c-tabs__text {
			position: relative;
			z-index: 1;
		}
	}

	&.anchors {
		.c-tabs__tab {
			background: transparent;
		}
	}
}

.c-tabs__content {
	display: none;

	&:first-child {
		display: block;
	}
}