.c-account-menu {
	position: relative;
	padding-left: 50px; // extra padding left so the user can move down to dropdown easier

	svg {
		display: inline-block;
		vertical-align: middle;
	}

	a {
		display: inline-block;
		text-decoration: none;
	}

	.c-account-menu__link-text {
		color: #FFF;
		display: inline-block;
		font-size: 10px;
		margin-left: 4px;
		vertical-align: middle;
	}

	.c-account-menu__navigation {
		background: #FFF;
		box-shadow: 0 0 30px 0 rgba(0,0,0,0.10);
		padding: 16px 15px;
		text-align: left;
		position: absolute;
		top: 100%;
		right: 0;
		z-index: 10;
		width: 190px;
		opacity: 0;
		visibility: hidden;
		transform: translate(0, 50px);
		transition: opacity 0.1s linear, visibility 0.15s linear, transform 0.1s ease-out;
		
		ul li {
			list-style: none;
			margin-bottom: 13px;
			
			a {
				color: $red;
				display: block;
				font-size: 12px;
				padding: 2px 0;

				&:after {
					content: ' ›';
					display: inline-block;
					margin-left: 4px;
					transition: transform 0.05s ease-out;
				}
			}
		}
	}

	&:hover {
		.c-account-menu__navigation {
			transform: translate(0, 0);
			opacity: 1;
			visibility: visible;
			transition: opacity 0.15s linear, visibility 0.15s linear, transform 0.15s ease-out;

			ul li {
				a:hover {
					&:after {
						transform: translate(5px, 0px);
					}
				}
			}
		}
	}
}

@media #{$media-mobile-large} {
	.c-account-menu {
		padding-left: 0px; // remove extra padding left
	}
}

@media #{$media-mobile-small} {
	.c-account-menu {
		.c-account-menu__link-text {
			margin-left: 0;
		}
	}
}