.c-breadcrumbs {
	font-size: px-to-rem(12);
	margin: 50px 0;
	position: relative;
	z-index: 10;
	text-align: center;

	a {
		text-decoration: none;
	}

	strong {
		font-weight: 400;
	}

	&.red {
		color: $red;		

		a {
			color: $red;
		}
	}

	&.white {
		color: #FFF;

		a {
			color: #FFF;
		}
	}
}

@media #{$media-mobile-large} {
	.c-breadcrumbs {
		font-size: px-to-rem(10);
	}
}



// AMP breadcrumbs
.c-breadcrumbs {
	ul {
		li {
			display: inline-block;
			list-style-type: none;

			&:before {
				content: '>';
				margin: 0 5px;
			}

			&:first-child {
				&:before {
					display: none;
				}
			}
		}
	}
}