.c-button {
	background: transparent;
	border-width: 2px;
	border-style: solid;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	font-size: px-to-rem(12);
	font-weight: 700;
	letter-spacing: px-to-rem(2);
	line-height: px-to-rem(16);
	//margin-bottom: 40px;
	margin-bottom: 20px;
	padding: 16px 30px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	transition: color 0.2s linear 0.35s, background-position 0.25s ease-in-out;
}

.c-button.red {
	border-color: $red;
	color: $red;
	background-image: linear-gradient(to left,
							transparent,
							transparent 50%,
							$red 50%,
							$red);
							background-position: 100% 0;
						 	background-size: 210% 100%; // had to make a bit bigger as there was a strange gap

	&:hover {
		color: #FFF;
		background-position: 0 0;
	}

	&.solid {
		background-color: $red;
		color: #FFF;
	}
}


.c-button.white {
	border-color: #FFF;
	color: #FFF;
	background-image: linear-gradient(to left,
							transparent,
							transparent 50%,
							#FFF 50%,
							#FFF);
							background-position: 100% 0;
						 	background-size: 200% 100%;

	&:hover {
		color: $red;
		background-position: 0 0;
	}

	&.solid {
		background-color: #FFF;
		color: $red;
	}	
}

@media #{$media-mobile-large} {
	.c-button {	
		font-size: px-to-rem(10);
		padding: 15px 25px;
	}
}