.custom-login {
	background: #FFF;
	display: table;
	padding: 70px 90px;
	margin: 0 auto;
	margin-bottom: 70px;
	position: relative;
	table-layout: fixed;
	width: 100%;

	.custom-login__form, .custom-login__help {
		display: table-cell;
	}

	.custom-login__form {
		padding-right: 80px;
	}

	.custom-login__help {
		width: 330px;
	}

	h1 {
		display: none;
	}

	.submit {
		// text-align: right;
	}

	input[type="submit"] {
		@extend .c-button;
		@extend .red;
		@extend .solid;
	}

	.message {
		display: none;
	}

	.forgetmenot, .login-remember {
      cursor: pointer;
      display: inline-block;
      font-size: px-to-rem(14);
      line-height: px-to-rem(20);
		position: relative;
		vertical-align: top;

		label {
			padding-left: 25px;
		}

		input {
			-webkit-appearance: none;
			border: 1px solid $red;
			display: inline-block;
			margin-right: 8px;
			height: 14px;
			width: 14px;
			vertical-align: middle;
			pointer-events: none;
			transition: background 0.2s ease-out;
			position: absolute;
			left: 0;
			top: 2px;

			&:checked {
				background: $red;
			}
		}
	}

	#nav, #backtoblog, .privacy-policy-page-link {
		display: none;
	}

	.login-links {
		text-align: right;
		font-size: px-to-rem(14);
	}

	.c-title {
		margin-bottom: 20px;
	}
}

/* === Password Reset === */

	.reset-pass[class] {
		display: block;
	}

	#pass1-text, .pw-weak, .show-password #pass1 {
		display: none;
	}

	.show-password #pass1-text {
		display: inline-block;
	}

	.wp-hide-pw {
		color: $dark-grey;
		display: block;
		margin: 10px 0 20px 0;
		text-align: right;

		&:after {
			content: 'Toggle Password Visibility';
			font-size: px-to-rem(12);
		}
	}

	#pass-strength-result {
		background: $light-grey;
		color: $dark-grey;
		font-size: px-to-rem(12);
		position: relative;
		padding: 15px 20px 35px 20px;
		margin-top: 5px;
		margin-bottom: 20px;

		&:before {
			content: '';
			background-image: linear-gradient(45deg, lighten($border-colour, 5%) 25%, darken($border-colour, 10%) 25%, darken($border-colour, 10%) 50%, lighten($border-colour, 5%)50%, lighten($border-colour, 5%)75%, darken($border-colour, 10%) 75%, darken($border-colour, 10%) 100%);
			background-size: 10.00px 10.00px;
			z-index: 1;
			width: calc(100% - 40px);
		}

		&:after {
			content: '';
			z-index: 2;
			transition: width 0.5s ease-out;
			width: 0;
		}

		&:before, &:after {
			border-radius: 3px;
			position: absolute;
			bottom: 20px;
			left: 20px;
			height: 6px;
		}

		// Strength widths
		&.short:after 		{ width: 20%; }
		&.bad:after 		{ width: 40%; }
		&.good:after		{ width: 70%; }
		&.strong:after		{ width: calc(100% - 40px); }
		&.mismatch:after	{ width: 0%; transition: none; }

		// Strength colours
		&.short, &.bad {
			&:after {
				background: rgb(167,14,14);
				background: -moz-linear-gradient(left, rgba(167,14,14,1) 0%, rgba(203,24,28,1) 100%);
				background: -webkit-linear-gradient(left, rgba(167,14,14,1) 0%,rgba(203,24,28,1) 100%);
				background: linear-gradient(to right, rgba(167,14,14,1) 0%,rgba(203,24,28,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a70e0e', endColorstr='#cb181c',GradientType=1 ); 
			}
		}

		&.good, &.strong {
			&:after {
				background: #35AF35;
				background: -moz-linear-gradient(left, rgba(54,181,54,1) 0%, rgba(106,226,106,1) 100%);
				background: -webkit-linear-gradient(left, rgba(54,181,54,1) 0%,rgba(106,226,106,1) 100%);
				background: linear-gradient(to right, rgba(54,181,54,1) 0%,rgba(106,226,106,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a70e0e', endColorstr='#cb181c',GradientType=1 ); 				
			}
		}
	}

/* === END === */

/* ==== Social Login ==== */

.wp-social-login-provider {
	color: #FFF;
	// border: 0;
	background: transparent;
	// border-width: 2px;
	// border-style: solid;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	font-size: 0.75rem;
	font-weight: 700;
	letter-spacing: 0.125rem;
	line-height: 1rem;
	margin-bottom: 40px;
	padding: 16px 30px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	transition: color 0.2s linear 0.35s, background-position 0.25s ease-in-out;

	&.wp-social-login-provider-linkedin {
		background: #0077B5;

		&:hover {
			background: darken(#0077B5, 10%);
			color: #FFF;
		}
	}

	&:before {
		content: 'Login via ';
	}
}

/* === END === */

@media #{$media-tablet-middle} {
	.custom-login {
		display: block;
		padding: 50px 30px;

		.custom-login__form, .custom-login__help {
			display: block;
			width: 100%;
		}

		.custom-login__form {
			padding-right: 0;
		}
	}
}