body {
	overflow-x: hidden;
}

.main-content {
	padding: 40px 0;
}

.container {
	padding: 0 25px;
	margin: 0 auto;
	max-width: 1190px;

	&.wide {
		max-width: 1290px;
	}

	&.narrow {
		max-width: 960px;	
	}
}

@media #{$media-mobile-large} {
	.main-content {
		// padding: 40px 0;
	}

	.container {
		padding: 0 20px;
	}
}