svg {
	display: block;

	/* ==== Site header ==== */

	&.logo-white {
		fill: #FFF;
		height: 37px;
		width: 254px;
	}

	&.login {
		fill: #FFF;
		height: 20px;
		width: 20px;
	}

	&.search {
		fill: #FFF;
		height: 20px;
		width: 20px;
	}

	&.hamburger {
		fill: #FFF;
		height: 20px;
		width: 25px;
	}

	&.close {
		fill: $red;
		height: 18px;
		width: 18px;
	}

	&.arrow {
		fill: $red;
		height: 9px;
		width: 16px;
	}

	&.alert {
		fill: #FFF;
		height: 12px;
		width: 12px;
	}

	/* ==== Footer ==== */
	&.lion {
		height: 44px;
		width: 65px;
	}

	/* ==== Social media ==== */

	&.facebook {
		height: 18px;
		width: 18px;
	}

	&.twitter {
		height: 13px;
		width: 16px;
	}

	&.youtube {
		height: 14px;
		width: 18px;
	}

	&.linkedin {
		height: 18px;
		width: 18px;
	}

	&.instagram {
		height: 18px;
		width: 18px;
	}
	
	/* ==== Video duration ==== */

	&.duration {
		height: 12px;
		width: 12px;
	}

	/* ==== Filter toggles ==== */

	&.grid {
		height: 20px;
		width: 20px;
	}

	&.list {
		height: 20px;
		width: 23px;
	}

	/* ==== General icons ==== */

		/* NEW - Sized for the generic icon grid component by default */

		&.aeroplane {
			height: 63px;
			width: 62px;
		}
		
		&.bar {
			height: 63px;
			width: 73px;
		}

		&.book {
			height: 49px;
			width: 63px;
		}
		
		&.books {
			height: 63px;
			width: 78px;
		}
		
		&.brexit {
			height: 63px;
			width: 64px;
		}
		
		&.briefcase {
			height: 63px;
			width: 63px;
		}
		
		&.btc {
			height: 63px;
			width: 56px;
		}
		
		&.calculator {
			height: 63px;
			width: 78px;
		}
		
		&.calendar {
			height: 63px;
			width: 50px;
		}

		&.city {
			height: 63px;
			width: 63px;
		}
		
		&.chart {
			height: 63px;
			width: 63px;
		}
		
		&.check {
			height: 63px;
			width: 73px;
		}
		
		&.clock {
			height: 63px;
			width: 63px;
		}
		
		&.cogs {
			height: 63px;
			width: 63px;
		}
		
		&.compass {
			height: 63px;
			width: 63px;
		}
		
		&.digital {
			height: 63px;
			width: 69px;
		}
		
		&.discussions {
			height: 63px;
			width: 69px;
		}
		
		&.document {
			height: 63px;
			width: 44px;
		}
		
		&.dollar {
			height: 63px;
			width: 63px;
		}
		
		&.down-alt {
			height: 63px;
			width: 44px;
		}
		
		&.down {
			height: 63px;
			width: 32px;
		}
		
		&.euro {
			height: 63px;
			width: 63px;
		}
		
		&.europe {
			height: 63px;
			width: 63px;
		}
		
		&.exclamation {
			height: 63px;
			width: 14.12px;
		}
		
		&.eye {
			height: 44px;
			width: 63px;
		}

		&.female {
			height: 63px;
			width: 47px;
		}

		&.fifty {
			height: 63px;
			width: 56px;
		}

		&.fingerprint {
			height: 63px;
			width: 50px;
		}

		&.flag-cn {
			height: 63px;
			width: 63px;
		}
		
		&.flag-kn {
			height: 63px;
			width: 63px;
		}

		&.flag-sa {
			height: 63px;
			width: 63px;
		}

		&.flag-tri {
			height: 63px;
			width: 63px;
		}

		&.flag-uk {
			height: 63px;
			width: 63px;
		}

		&.flag-us {
			height: 63px;
			width: 63px;
		}
		
		&.globe {
			height: 63px;
			width: 44px;
		}
		
		&.government {
			height: 63px;
			width: 56px;
		}
		
		&.gravel {
			height: 63px;
			width: 63px;
		}

		&.group {
			height: 47px;
			width: 63px;
		}
		
		&.handshake {
			height: 63px;
			width: 102px;
		}

		&.heart {
			height: 57px;
			width: 63px;
		}
		
		&.info {
			height: 63px;
			width: 63px;
		}
		
		&.jersey {
			height: 63px;
			width: 89px;
		}
		
		&.laptop {
			height: 44px;
			width: 63px;
		}
		
		&.leaves {
			height: 40px;
			width: 63px;
		}
		
		&.left-alt {
			height: 63px;
			width: 88px;
		}
		
		&.left {
			height: 63px;
			width: 121px;
		}
		
		&.lightbulb {
			height: 63px;
			width: 38px;
		}

		&.lighthouse {
			height: 63px;
			width: 57px;
		}
		
		&.male {
			height: 63px;
			width: 47px;
		}
		
		&.magnify {
			height: 63px;
			width: 63px;
		}
		
		&.mouse {
			height: 63px;
			width: 63px;
		}

		&.mobile {
			height: 63px;
			width: 45px;
		}
		
		&.pen {
			height: 63px;
			width: 63px;
		}
		
		&.pie {
			height: 63px;
			width: 63px;
		}
		
		&.pound {
			height: 63px;
			width: 63px;
		}
		
		&.question {
			height: 63px;
			width: 41px;
		}

		&.research {
			height: 63px;
			width: 63px;			
		}
		
		&.right-alt {
			height: 63px;
			width: 88px;
		}
		
		&.right {
			height: 63px;
			width: 121px;
		}
		
		&.rosette {
			height: 63px;
			width: 51px;
		}
		
		&.scales {
			height: 63px;
			width: 63px;
		}
		
		&.seal {
			height: 63px;
			width: 59px;
		}
		
		&.shield {
			height: 63px;
			width: 50px;
		}
		
		&.smartphone {
			height: 63px;
			width: 38px;
		}
		
		&.star {
			height: 63px;
			width: 63px;
		}
		
		&.stopwatch {
			height: 63px;
			width: 50px;
		}
		
		&.strategy {
			height: 63px;
			width: 36px;
		}
		
		&.trophy {
			height: 63px;
			width: 50px;
		}
		
		&.up-alt {
			height: 63px;
			width: 44px;
		}
		
		&.up {
			height: 63px;
			width: 32px;
		}
		
		&.voting {
			height: 63px;
			width: 50px;
		}

		&.video {
			height: 63px;
			width: 63px;
		}

		&.workforce-female {
			height: 63px;
			width: 47px;
		}

		&.workforce-male {
			height: 63px;
			width: 47px;
		}

		// Checklist tick

		&.tick {
			height: 15px;
			width: 20px;
		}
		

/* OLD 

	&.briefcase {
		height: 63px;
		width: 67px;
	}
	&.pound {
		height: 63px;
		width: 63px;
	}
	&.courthouse {
		height: 63px;
		width: 56px;
	}
	&.shield {
		height: 63px;
		width: 53px;
	}
	&.star {
		height: 63px;
		width: 63px;
	}
	&.gavel {
		height: 63px;
		width: 63px;
	}
	&.gears {
		height: 63px;
		width: 64px;
	}
	&.globe {
		height: 63px;
		width: 48px;
	}
	&.scales {
		height: 63px;
		width: 67px;
	}
	&.sun {
		height: 63px;
		width: 60px;
	}
	&.tick {
		height: 60px;
		width: 76px;
	}
	&.fingerprint {
		height: 63px;
		width: 48px;
	}
	&.magnifying-glass {
		height: 63px;
		width: 63px;
	}
	&.communication {
		height: 63px;
		width: 72px;
	}
	&.lightbulb {
		height: 63px;
		width: 39px;
	}
	&.line-graph {
		height: 63px;
		width: 60px;
	}
	&.pie-chart {
		height: 63px;
		width: 63px;
	}
	&.plane {
		height: 63px;
		width: 63px;
	}

	*/
}

@media #{$media-mobile-large} {
	svg {
		&.logo-white {
			height: 29px;
			width: 190px;
		}
	}
}

@media #{$media-mobile-small} {
	svg {
		&.logo-white {
			height: 20px;
			width: 130px;
		}
		&.hamburger {
			height: 16px;
			width: 20px;
		}
		&.search {
			height: 16px;
			width: 16px;
		}
		&.login {
			height: 16px;
			width: 16px;
		}
	}
}