table {
	background-color: $border-colour;
	border-spacing: 0;
	border-collapse: collapse;
	margin: 40px -50px;
	text-align: left;
	min-width: 100%;
	width: calc(100% + 100px);

	thead {
		tr {
			background: $red;
		}
		
		td {
			border-color: $red;
			color: #FFF;
			font-family: $font-bright;
			padding: 17px 15px; 
		}
	}

	tr {
		&:nth-child(even) {
			background-color: $medium-grey;
		}
	}

	td {
		border: 2px solid #FFF;
		padding: 15px;
		vertical-align: top;
		width: auto !important; // stop issues when copied from Word etc
		line-height: px-to-rem(20);
		font-size: px-to-rem(14);

		&:first-child {
			border-left-width: 0;
		}

		&:last-child {
			border-right-width: 0;
		}

		p {
			line-height: px-to-rem(20);
			font-size: px-to-rem(14);
			margin-bottom: 20px;
		}
	}
}


@media #{$media-tablet-landscape} {
	.c-text {
		table {
			display: block;
			overflow-x: auto;
			margin: 40px 0;	
			width: 100%;

			tbody,thead {
				display: table;
				overflow-x:auto;
				min-width: 100%;

				tr {
					display: flex;
					flex-wrap: nowrap;
					flex-direction: row;
					width: 100%;
				}

				td {
					display: block;
					flex-grow: 2;
					width: 180px !important;
				}
			}
		}
	}
}

@media #{$media-mobile-large} {
	.c-text {
		table {
			thead {			
				td {
					font-size: px-to-rem(14);
				}
			}
		}
	}
}