/* ===== Utility Classes ===== */
.u-background-cover { background-size: cover; }

.u-background-red 		{ background: $red; }
.u-background-white 		{ background: #FFF; }
.u-background-grey 		{ background: $medium-grey; }
.u-background-dark-grey { background: $dark-grey; }

.u-pattern-wrapper {
	padding: 1px 0; // to fix collapsing margins
	position: relative;

	&:before {
		content: '';
		background-image: url('../images/pattern2x.png');
		background-size: 28px;
		position: absolute;
		bottom: 0;
		left: 0;
		height: calc(100% - 80px);
		width: 100%;
	}

	&.less {
		&:before {
			height: calc(100% - 25px);
		}
	}

	&.fill {
		&:before {
			height: 100%;
		}
	}
}

.u-colour-white[class] 		{ color: #FFF; }
.u-colour-black[class] 		{ color: #000; }
.u-colour-red[class] 			{ color: $red; }
.u-colour-dark-grey[class] 	{ color: $dark-grey; }

.u-fill-red 	{ fill: $red; }
.u-fill-white 	{ fill: #FFF; }

.u-full-width {
	width: 100%;
}

.u-desktop-only {
	display: inline-block;
}

.u-mobile-only {
	display: none;
}

@media #{$media-mobile-small} {
	.u-desktop-only {
		display: none;
	}

	.u-mobile-only {
		display: inline-block;
	}
}

// Overflow
	.u-overflow-hidden { overflow: hidden; }

// List Style
	ul.u-list-style-none {
		padding-left: 0;

		li { list-style-type: none; }
	}
	ul.u-list-style-square {
		padding-left: 18px;
		
		li { list-style-type: square; }
	}

// Display
	.u-display-block 			{ display: block; }
	.u-display-inline-block { display: inline-block; }

	.u-width-100 { width: 100%; }

	.u-table { 
		display: table;

		&.u-table__full-width  	{ width: 100%; }
		&.u-table__fixed 			{ table-layout: fixed; }
	}
	.u-table-row 	{ display: table-row; }
	.u-table-cell 	{ display: table-cell; vertical-align: top; }

	@media #{$media-mobile-small} {
		.u-table.collapse { 
			display: block;
			width: 100%;
			
			.u-table-row, .u-table-cell {
				display: block;
				width: 100%;
			}
		}
	}

// Vertical Align
	.u-valign-top     { vertical-align: top; }
	.u-valign-middle  { vertical-align: middle; }
	.u-valign-bottom  { vertical-align: bottom; }

// Typography
	.u-uppercase        		{ text-transform: uppercase; }
	.u-regularcase      		{ text-transform: none; }
	.u-decoration-none  		{ text-decoration: none; }
	.u-decoration-underline { text-decoration: underline; }

// List style heihgt
	.u-reduced-list-height[class], .u-reduced-list-height[class] {
		li {
			margin-top: 10px;
		}
	}

// Font sizes
	.main-content {
		.u-font-size-large, .u-font-size-large > p {
			line-height: px-to-rem(30);
			font-family: $font-bright;
			font-size: px-to-rem(20);
			margin-bottom: 20px;
		}

		.u-font-size-small, .u-font-size-small > p {
			line-height: px-to-rem(20);
			font-size: px-to-rem(14);
			margin-bottom: 20px;
		}

		@media #{$media-mobile-small} {
			.u-font-size-large, .u-font-size-large > p {
				line-height: px-to-rem(20);
				font-size: px-to-rem(18);
			}

			.u-font-size-small, .u-font-size-small > p {
				line-height: px-to-rem(20);
			}	
		}
	}

// Image captions 
	.u-caption {
	  color: $dark-grey;
	  font-size: 11px;
	  margin-top: 10px;
	  text-align: left;
	}

// Font Families
	.u-font-family-bright 	{ font-family: $font-bright; }
	.u-font-family-sans 		{ font-family: $font-sans; }

// Font Weight
	.u-font-weight-light     { font-weight: 100; }
	.u-font-weight-normal    { font-weight: 400; }
	.u-font-weight-bold      { font-weight: 600; }

// Border Radius
	.u-rounded { border-radius: 3px; overflow: hidden; }
	.u-circle  { border-radius: 50%; overflow: hidden; }

// Box Shadow
	.u-box-shadow-light 	{ box-shadow: 0 0 30px 0 rgba(0,0,0,0.10); }
	.u-box-shadow-dark 	{ box-shadow: 0 0 10px 0 rgba(0,0,0,0.40); }

// Float
	.u-float-left     { float: left; }
	.u-float-right    { float: right; }

// Text Align
	.u-align-left     { text-align: left; }
	.u-align-centre   { text-align: center; }
	.u-align-right    { text-align: right; }

// Position
	.u-position-relative { position: relative; }
	.u-zindex-top 			{ z-index: 10; }

/* ==== Spacing Classes ==== */

	// PX based classes
		$max: 70;
		$step: 5;

		@for $i from 0 through ceil($max/$step) {
				$value: ($i) * $step;

				// Padding
				.u-padding-#{$value}[class] { padding: #{$value}px; }
				.u-padding-top-#{$value}[class] { padding-top: #{$value}px; }
				.u-padding-right-#{$value}[class] { padding-right: #{$value}px; }
				.u-padding-bottom-#{$value}[class] { padding-bottom: #{$value}px; }
				.u-padding-left-#{$value}[class] { padding-left: #{$value}px; }

				// Margin
				.u-margin-#{$value}[class] { margin: #{$value}px; }
				.u-margin-top-#{$value}[class] { margin-top: #{$value}px; }
				.u-margin-right-#{$value}[class] { margin-right: #{$value}px; }
				.u-margin-bottom-#{$value}[class] { margin-bottom: #{$value}px; }
				.u-margin-left-#{$value}[class] { margin-left: #{$value}px; }
		}

/* ==== Font Size ==== */

	$max: 30;
	$step: 2;

	// 10 -> 30
	@for $i from 8 through ceil($max/$step) {
		$value: ($i) + $step;

		.u-font-size-#{$value} { font-size: #{$value}px; }
	}

// Absolute Align
	.u-absolute-middle    { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }

// Clearfix 
	.u-clearfix:after { content: ''; clear: both; display: block; }

// Image Crisping
	.u-crisp-image {
		image-rendering: -moz-crisp-edges;
		image-rendering: -o-crisp-edges;
		image-rendering: -webkit-optimize-contrast;
		image-rendering: crisp-edges;
		-ms-interpolation-mode: nearest-neighbor;
	}

// This is a hack so that GTM can register click events properly - if the user clicks inside the SVG then the tracking event has issues accessing the <a> properties
// So we add an :before element and cover the SVG with it so that all clicks hit the <a> tag first.
	.u-svg-gtm-fix {
		position: relative;

		&.inline {
			display: inline-block;
		}

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
	}