.c-countdown {
	// Different grid sizes
	.small & {
		background: rgba(0,0,0,0.5);
		padding-top: 57.14%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		.h6 {
			text-align: center;
		}

		.c-countdown__wrapper {
			color: #FFF;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-width: 100%;
		}		
	}

	.medium &,.large & {
		margin-top: 20px;
	}

	.u-table-cell {
		padding-left: 14px;
		text-align: center;

		&:first-child {
			padding-left: 0;
		}
	}

	.h6 {
		font-size: px-to-rem(8);
		margin-bottom: 10px;
	}

	.u-table {
		border-top: 1px solid rgba(255,255,255,0.7);
		padding-top: 15px;
	}

	.label {
		font-size: px-to-rem(10);
	}

	.value {
		display: block;
		font-size: px-to-rem(14);
		font-weight: 700;
		margin-bottom: 5px;
	}

	// Different countdown sizes (for flexible content)
	.size-large & {

		.h6 {
			font-size: px-to-rem(11);
		}

		.label {
			font-family: $font-bright;
			font-size: px-to-rem(16);
		}

		.value {
			display: block;
			font-family: $font-bright;
			font-size: px-to-rem(22);
			margin-bottom: 15px;
		}
	}
}

@media #{$media-tablet-middle} {
	.c-countdown {
		.small &,.medium & {
			.c-countdown__seconds {
				display: none;
			}
		}
	}
}

@media #{$media-tablet-portrait} {
	.c-countdown {
		.small & {
			padding-top: 50%;
		}

		.small &,.medium &, .large & {
			.c-countdown__seconds {
				display: none;
			}			
		}
	}
}