/*! Flickity v2.1.2
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
	position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
	overflow: hidden;
	position: relative;
	height: 100%;
}

.flickity-slider {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
	-webkit-tap-highlight-color: transparent;
			 tap-highlight-color: transparent;
	-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
			 user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
	cursor: move;
	cursor: -webkit-grab;
	cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

/* ==== Flickity Button ==== */

.flickity-button {
	background: #000;
	cursor: pointer;
	position: absolute;

	.flickity-button-icon {
		fill: #FFF;
		height: 6px;
		width: 6px;
		transition: fill 0.4s ease;
	}

	&:hover {
		.flickity-button-icon {
			fill: $red;
		}
	}
}

.flickity-button:focus {
	outline: none;
	box-shadow: 0 0 0 2px $red;
}

.flickity-button:disabled {
	opacity: 0;
	/* prevent disabled button from capturing pointer up event. #716 */
	pointer-events: none;
}


/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
	top: 50%;
	width: 30px;
	height: 36px;
}

.flickity-prev-next-button.previous { left: 0; transform: translate(-50%, -50%); }
.flickity-prev-next-button.next 		{ right: 0; transform: translate(50%, -50%); }

.flickity-prev-next-button .flickity-button-icon {
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	width: 6px;
	height: 6px;
}

@media #{$media-mobile-large} {
	.flickity-prev-next-button.previous { left: -20px; transform: translate(0%, -50%) }
	.flickity-prev-next-button.next 		{ right: -20px; transform: translate(0%, -50%) }	
}