/*
	Checkbox descriptions
*/

	// Must be updated if the checkbox order changes
	.gf-future-connect li {
		&.gchoice_10_10_2, &.gchoice_4_14_2 {
			&:after {
				content: "Jersey Finance’s new campaign, specifically for more junior members of the finance industry.";
				font-size: 12px;
				line-height: 17px;
				display: block;
				color: $dark-grey;
			}
		}
	}

/* === END === */

/* === Undo global list styles === */

	ul.gform_fields {
		margin-top: 0;
		padding-left: 0;
	
		li {
			clear: both;
			padding: 1px 0; 	// Stop collapsing margins
			margin-top: 10px;
			padding-left: 0;

			&:first-child {
				margin-top: 0;
			}

			&:before {
				display: none;
			}
		}
	}

/* === END === */

/* === Hidden form fields === */

.gfield_visibility_hidden {
	display: none;
	visibility: hidden;
	height: 0;
	overflow: hidden;
}

/* === END === */

.gform_wrapper {	
	::placeholder {
		color: $border-colour;
	}

	/* === Form titles & sections === */

		h3.gform_title, h2.gsection_title {
			@extend .c-title;
			font-family: $font-sans;
			line-height: normal;
			margin-bottom: 25px;
		}

	/* === END === */

	/* === Stepped form styles === */

		.gf_page_steps {
			@extend .c-title;
			margin-top: 30px;
			margin-bottom: 30px;

			.gf_step {
				//display: none;
				display: inline-block;
				padding-right: 20px;

				a {
					color: $dark-grey;
				}

				.gf_step_number {
					//color: $red;

					// &:before {
					// 	content: 'Step ';
					// }
					&:after {
						content: ':';
					}
				}

				&.gf_step_active {
					color: $red;
				}
			}
		}

	/* === END === */

	/* === Form descriptions === */

		.gform_description, .gsection_description {
			display: block;
			@extend .u-font-size-small;
		}

	/* === END === */

	/* === Buttons === */

		.gform_page_footer {
			&:after {
				content: '';
				clear: both;
				display: block;
			}
		}


		// Make submit buttons right aligned
		.gform_button[type="submit"], .gform_next_button {
			float: right;
		}


		.gform_next_button {
			padding-right: 35px;

			&:after {
				content: ' ›';
				font-size: 18px;
				margin-top: -2px;
				position: absolute;
				right: 15px;
				top: 50%;
				transform: translate(0, -50%);
			}
		}

		.gform_previous_button {
			padding-left: 35px;

			&:after {
				content: ' ‹';
				font-size: 18px;
				margin-top: -2px;
				position: absolute;
				left: 15px;
				top: 50%;
				transform: translate(0, -50%);
			}
		}


	/* === END === */

	/* === Label styles ==== */

		label {
			display: block;
			font-size: px-to-rem(14);
			margin-bottom: 10px;

			.gfield_required {
				color: $red;
				font-weight: 700;
			}
		}

	/* === END === */

	/* === Field descriptions === */

		.gfield_description {
			background-image: url('../images/gform-description.svg');
			background-size: 18px;
			background-repeat: no-repeat;
			background-position: 10px 12px;
			border-left: 4px solid $border-colour;
			color: $dark-grey;
			line-height: px-to-rem(20);
			font-size: px-to-rem(12);
			background-color: $light-grey;
			padding: 10px 20px;
			margin-bottom: 20px;
			padding-left: 38px; // To account for background image

			&.custom-notice {
				border-color: $red;
				line-height: px-to-rem(24);
				font-size: px-to-rem(14);
			}
		}

	/* === END === */

	/* === Field validatons === */

		.validation_error {
			display: none;
		}

		.gfield_error {
			input, select, textarea {
				border-left: 4px solid $red;
			}
		}

		.gfield_description.validation_message {
			background-image: none;
			border-left: 4px solid $red;
			padding-left: 20px;
		}

	/* === END === */

	/* === Dashicons on Rich Text === */

		.ginput_container_textarea i:before {
			font: 400 20px/1 dashicons;
		}

	/* === END === */

	/* === General input styling === */

		.ginput_container {
			margin-bottom: 15px;
		}

		input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="date"], textarea {
			border: 1px solid $border-colour;
			color: $dark-grey;
			display: block;		
			font-size: px-to-rem(14);
			padding: 12px 15px;
			//margin-bottom: 15px;
			width: 100%;
		}

	/* === END === */

	/* === Select styles ==== */

		select {
			-webkit-appearance: none;
			appearance: none;
			border: 1px solid $border-colour;
			border-radius: 0;
			background: transparent;
			font-size: px-to-rem(14);
			padding: 12px 30px 12px 15px;
			//margin-bottom: 15px;
			width: 100%;
		}

		// Add fake dropdown arrow
		.ginput_container_select {
			position: relative;

			&:after {
				content: '';
				border-style: solid;
				border-width: 5px 3px 0 3px;
				border-color: $dark-grey transparent transparent transparent;
				pointer-events: none; // click through
				position: absolute;
				top: 50%;
				right: 15px;
				transform: translate(0, -3px);
				width: 0;
				height: 0;
			}
		}

	/* === END === */

	/* === Custom datepicker - make margin match === */

	.flatpickr {
		margin-bottom: 10px;
	}

	/* === END === */

	/* === Checkbox styles === */

		.ginput_container .gfield_checkbox, .ginput_container .gfield_radio {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-items: flex-start;
			align-items: flex-start;
			justify-content: flex-start;
			align-content: flex-start;
			margin: 0;
			padding-left: 0;

			li {
				@extend .custom-checkbox;
				width: 33.3%;

				&:first-child {
					margin-top: 10px;
				}

				label {
					margin-bottom: 0;
				}
			}
		}

	/* === END === */

	/* === Fileupload fields === */

		.ginput_container_fileupload {
			img {
				display: none;
				padding-top: 1px; // fix height issue
				margin-bottom: 20px;
				width: 150px;

				&.has-file {
					display: block;
				}
			}

			span {
				color: $dark-grey;
				display: block;
				font-size: px-to-rem(12);
				margin-top: 5px;
			}
		}

	/* === END === */

	/* === Multi-field fields (e.g. name, password), max of 3 cols, any extra grow to fill space === */

		.ginput_complex {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin: 0 -15px;

			span {
				display: block;
				padding: 0 15px;
				flex-grow: 1;
				min-width: 33.33%
			}

			input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="date"], textarea {
				margin-bottom: 15px;
			}
		}

		// Hide main label of any complex fields
		.field_sublabel_above {
			> label {
				display: none;
			}

			// Add asterix to labels if we are hiding the main label
			&.gfield_contains_required {
				.ginput_complex {
					label:after {
						content: '*';
						color: $red;
						font-weight: 700;
					}
				}
			}
		}

		// If the labels are below, adjust margins and label styles
		.field_sublabel_below {
			.ginput_container {
				// input {
				// 	margin-bottom: 5px;
				// }

				label {
					color: $dark-grey;
					font-size: px-to-rem(12);
					margin-bottom: 15px;
				}
			}
		}
	
	/* === END === */

	/* === List field === */
	
		// Note: I convert all list field HTML from tables into div's

		.custom_gform_list {
			margin: 0 -5px;
			width: 100%;

			.u-table-cell {
				padding: 0 5px 10px 5px;
				vertical-align: top;
			}

			.gfield_list_icons {
				padding: 0 0 10px 10px;
				width: 24px;
				vertical-align: middle;

				img {
					margin-top: 5px;
					height: 12px;
					width: 12px;

					&:first-child {
						margin-top: 0;
					}
				}
			}
		}

		.gfield_list_cell {
			img {
				max-width: 200px;
			}
		}

		// Add numbers to the rows
		.count {
			.custom_gform_list {
				.u-table-row {
					counter-increment: row-counter 1;

					&:before {
						content: counter(row-counter);
						font-size: px-to-rem(14);
						position: absolute;
						left: -10px;
						transform: translate(-100%, 6px);
					}

					&:first-child {
						counter-increment: row-counter 0;

						&:before {
							opacity: 0;
						}
					}
				}
			}
		}

		/* 
			Lists that have ajax upload have a dummy hidden row that contains no data that we need to hide.
			We copy this element when someone tries to add a row.
			If we let it behave like normal it copies across images that were uploaded to previous rows.
		*/
		.has-fake-row.gform_ajax_file_upload .ginput_list {
			.gfield_list_group:last-child {
				display: none; 
			}
		}

	/* === END === */

	/* === Password strength indicator === */

		.gfield_password_strength {
			background: $light-grey;
			color: $dark-grey;
			font-size: px-to-rem(12);
			position: relative;
			padding: 10px 20px 30px 20px;
			margin-top: 5px;
			margin-bottom: 20px;

			&:before {
				content: '';
				background-image: linear-gradient(45deg, lighten($border-colour, 5%) 25%, darken($border-colour, 10%) 25%, darken($border-colour, 10%) 50%, lighten($border-colour, 5%)50%, lighten($border-colour, 5%)75%, darken($border-colour, 10%) 75%, darken($border-colour, 10%) 100%);
				background-size: 10.00px 10.00px;
				z-index: 1;
				width: calc(100% - 40px);
			}

			&:after {
				content: '';
				z-index: 2;
				transition: width 0.5s ease-out;
				width: 0;
			}

			&:before, &:after {
				border-radius: 3px;
				position: absolute;
				bottom: 20px;
				left: 20px;
				height: 6px;
			}
		}

		// Strength widths
		.gfield_password_strength.short:after 		{ width: 20%; }
		.gfield_password_strength.bad:after 		{ width: 40%; }
		.gfield_password_strength.good:after		{ width: 70%; }
		.gfield_password_strength.strong:after		{ width: calc(100% - 40px); }
		.gfield_password_strength.mismatch:after	{ width: 0%; transition: none; }

		// Strength colours
		.gfield_password_strength.short,
		.gfield_password_strength.bad {
			&:after {
				background: rgb(167,14,14);
				background: -moz-linear-gradient(left, rgba(167,14,14,1) 0%, rgba(203,24,28,1) 100%);
				background: -webkit-linear-gradient(left, rgba(167,14,14,1) 0%,rgba(203,24,28,1) 100%);
				background: linear-gradient(to right, rgba(167,14,14,1) 0%,rgba(203,24,28,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a70e0e', endColorstr='#cb181c',GradientType=1 ); 
			}
		}

		.gfield_password_strength.good,
		.gfield_password_strength.strong {
			&:after {
				background: #35AF35;
				background: -moz-linear-gradient(left, rgba(54,181,54,1) 0%, rgba(106,226,106,1) 100%);
				background: -webkit-linear-gradient(left, rgba(54,181,54,1) 0%,rgba(106,226,106,1) 100%);
				background: linear-gradient(to right, rgba(54,181,54,1) 0%,rgba(106,226,106,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a70e0e', endColorstr='#cb181c',GradientType=1 ); 				
			}
		}

	/* === END === */

	/* === Classes for making fields two/three column === */

		ul.gform_fields {
			.two-col {
				clear: none;
				float: left;
				width: 50%;

				&.left {
					padding-right: 15px;
				}

				&.right {
					padding-left: 15px;
				}
			}

			.three-col {
				clear: none;
				float: left;
				width: 33.33%;

				&.left {
					padding-right: 15px;
				}

				&.middle {
					padding-left: 15px;
					padding-right: 15px;
				}

				&.right {
					padding-left: 15px;
				}
			}
		}

	/* === END === */

	/* === Class for turning label into title element === */

		.label-to-title {
			> label {
				// @extend .c-title;
				// margin-bottom: 10px;
				// margin-top: 10px;
			}
		}

	/* === END === */

	/* === Class for hidden inputs === */

		.gfield.hidden {
			display: none;
		}
	
	/* === END === */

	.gform_footer {
		clear: both;

		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}	
}

.gform_confirmation_message {
	text-align: center;
	@extend .u-font-size-large;
}

// Remove rich text editor buttons
.mce-container.mce-toolbar.mce-stack-layout-item.mce-last {
	display: none;
	visibility: hidden;
	visibility: hidden;
	opacity: 0;
}


@media #{$media-tablet-portrait} {
	.gform_wrapper {
		/* === Classes for making fields two column === */

			ul.gform_fields {
				.two-col[class], .three-col[class] {
					clear: both;
					float: none;
					padding-left: 0;
					padding-right: 0;
					width: 100%;
				}
			}

		/* === END === */

		/* === Multi-field fields (e.g. name, password), max of 3 cols, any extra grow to fill space === */

			.ginput_complex {
				display: block;
				margin: 0;

				span {
					padding: 0;
					min-width: 0;
					width: 100%;
				}
			}

		/* === END === */

		/* === Checkbox styles === */

			.ginput_container .gfield_checkbox, .ginput_container .gfield_radio {
				display: block;
				padding-top: 5px;

				li {
					width: 100%;
				}
			}

		/* === END === */
	}
}